In [3]:
import pandas as pd
import numpy as np
purchase_data= pd.read_csv("purchase_data.csv")

purchase_data.head()

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44

In [4]:

total_players = purchase_data['SN'].nunique()
print(total_players)

576

In [5]:

items = purchase_data['Item Name'].nunique()
avg_price= round(purchase_data['Price'].mean(), 2)
total_purchases= purchase_data['Purchase ID'].count()
total_revenue=purchase_data['Price'].sum()


analysis= {'Purchases': [total_purchases],
           'Average Price': [avg_price],
           'Total Revenue': [total_revenue],
           'Unique Items': [items]}

analysis = pd.DataFrame (analysis, columns = ['Purchases', 'Average Price', 'Total Revenue', 'Unique Items'])

print(analysis)

   Purchases  Average Price  Total Revenue  Unique Items
0        780           3.05        2379.77           179

In [6]:
df=purchase_data.drop_duplicates('SN') 
male_players= df.loc[df['Gender']=='Male'].count()['Gender']
male_percent= round((male_players / total_players).sum() * 100, 2)

female_players=df.loc[df['Gender']=='Female'].count()['Gender']
female_percent= round((female_players / total_players).sum() * 100, 2)

other_players=df.loc[df['Gender']=='Other / Non-Disclosed'].count()['Gender']
other_percent= round((other_players / total_players).sum() * 100, 2)


gender_demographics = {'Total Count': [male_players, female_players, other_players],
        'Percent': [male_percent, female_percent, other_percent]}
  
gender_demographics = pd.DataFrame (gender_demographics,[['Male', 'Female', 'Other/Non-Disclosed']], columns = ['Total Count','Percent'])

print (gender_demographics)

                     Total Count  Percent
Male                         484    84.03
Female                        81    14.06
Other/Non-Disclosed           11     1.91

In [7]:
pc_male = purchase_data.loc[purchase_data['Gender'] == 'Male', :].count()['Price']
avg_pc_male = round(purchase_data.loc[purchase_data['Gender'] == 'Male', :].mean()['Price'],2)
total_pc_male = round(purchase_data.loc[purchase_data['Gender'] == 'Male', :].sum()['Price'],2)
avg_tp_male = round(total_pc_male/male_players,2)

pc_female = purchase_data.loc[purchase_data['Gender'] == 'Female', :].count()['Price']
avg_pc_female = round(purchase_data.loc[purchase_data['Gender'] == 'Female', :].mean()['Price'],2)
total_pc_female = round(purchase_data.loc[purchase_data['Gender'] == 'Female', :].sum()['Price'],2)
avg_tp_female = round(total_pc_female/female_players,2)


pc_other = purchase_data.loc[purchase_data['Gender'] == 'Other / Non-Disclosed', :].count()['Price']
avg_pc_other = round(purchase_data.loc[purchase_data['Gender'] == 'Other / Non-Disclosed', :].mean()['Price'],2)
total_pc_other = round(purchase_data.loc[purchase_data['Gender'] == 'Other / Non-Disclosed', :].sum()['Price'],2)
avg_tp_other = round(total_pc_other/other_players,2)

purchasing_ana = {'Purchase Count': [pc_male, pc_female, pc_other],
        'Avg Purchase Price': [avg_pc_male, avg_pc_female, avg_pc_other],
        'Total Purchase Value': [total_pc_male, total_pc_female, total_pc_other],
        'Avg Purchase Totals per Person':[avg_tp_male, avg_tp_female, avg_tp_other]}

purchasing_ana = pd.DataFrame (purchasing_ana,[['Male', 'Female', 'Other/Non-Disclosed']], columns = ['Purchase Count','Avg Purchase Price', 'Total Purchase Value', 'Avg Purchase Totals per Person' ])
print(purchasing_ana)

                     Purchase Count  Avg Purchase Price  Total Purchase Value  \
Male                            652                3.02               1967.64
Female                          113                3.20                361.94
Other/Non-Disclosed              15                3.35                 50.19

                     Avg Purchase Totals per Person
Male                                           4.07
Female                                         4.47
Other/Non-Disclosed                            4.56

In [135]:
bins = [0, 9.9, 14.9, 19.9, 24.9, 29.9, 34.9, 39.9, 100]

age_ranges = ['<10', '10-14', '15-19', '20-24', '25-29', '30-34', '35-39', '40+']

age_groups = df.loc[:,['SN','Age']]
age_groups.drop_duplicates(['SN'], inplace=True, keep='first')

age_groups['Age Group'] = pd.cut(age_groups['Age'], bins, labels = age_ranges)

summary = pd.DataFrame()
summary['Total Count'] = age_groups.groupby(['Age Group'])['Age'].count()
summary['% of Players']=(age_groups.groupby(['Age Group'])['Age'].sum()/576)*100
summary['% of Players']=summary['% of Players'].map("%{:,.2f}".format)
summary

           Total Count % of Players
Age Group
<10                  3        %4.17
10-14                5       %10.42
15-19                5       %14.76
20-24                5       %19.10
25-29                5       %23.44
30-34                5       %27.78
35-39                5       %32.12
40+                  6       %44.27

In [110]:
top_spenders=df.groupby("SN")
spender_count=round(top_spenders["Purchase ID"].count(),2)
avg_spender=round(top_spenders["Price"].mean(),2)
total_spend= round(top_spenders["Price"].sum(),2)

spender_summary = pd.DataFrame({"Purchase Count": top_spenders,
                                    "Avg Purchase Price": avg_spender,
                                    "Total Purchase Value": total_spend})
spender_summary = spender_summary.sort_values(["Total Purchase Value"], ascending=False).head(5)

spender_summary["Avg Purchase Price"] = spender_summary["Avg Purchase Price"].map("${:.2f}".format)
spender_summary["Total Purchase Value"] = spender_summary["Total Purchase Value"].map("${:.2f}".format)

,Purchase Count,Avg Purchase Price,Total Purchase Value
SN,,,
Sundadar27,"(Sundadar27, [Purchase ID])",$4.89,$4.89
Ithergue48,"(Ithergue48, [Purchase ID])",$4.88,$4.88
Chamalo71,"(Chamalo71, [Purchase ID])",$4.64,$4.64
Farusrian86,"(Farusrian86, [Purchase ID])",$4.48,$4.48
Haerithp41,"(Haerithp41, [Purchase ID])",$4.40,$4.40

In [119]:
popular = df.groupby(["Item ID", "Item Name"])

purchase_count = popular["Item ID"].count()
purchase_value = popular["Item ID"].sum()
total_pv = purchase_value/purchase_count

top_items = pd.DataFrame({"Purchase Count" : purchase_count,
                                  "Item Price": total_pv,
                                  "Total Purchase Value": purchase_value})

top_items = top_items.sort_values("Purchase Count", ascending=False).head(5)

top_items["Item Price"] = top_items["Item Price"].map("${:,.2f}".format)
top_items["Total Purchase Value"] = top_items["Total Purchase Value"].map("${:,.2f}".format)

top_items

,,Purchase Count,Item Price,Total Purchase Value
Item ID,Item Name,,,
108,"Extraction, Quickblade Of Trembling Hands",2,$108.00,$216.00
178,"Oathbreaker, Last Hope of the Breaking Storm",2,$178.00,$356.00
71,Demise,2,$71.00,$142.00
136,Ghastly Adamantite Protector,1,$136.00,$136.00
110,Suspension,1,$110.00,$110.00

In [111]:
most_profitable = item_popularity.sort_values("Total Purchase Value", ascending=False)
most_profitable["Item Price"] = most_profitable["Item Price"].map("${:,.2f}".format)
most_profitable["Total Purchase Value"] = most_profitable["Total Purchase Value"].map("${:,.2f}".format)
most_profitable.head(5)

,,Purchase Count,Item Price,Total Purchase Value
Item ID,Item Name,,,
178,"Oathbreaker, Last Hope of the Breaking Storm",2,$4.23,$8.46
108,"Extraction, Quickblade Of Trembling Hands",2,$3.53,$7.06
111,Misery's End,1,$4.89,$4.89
92,Final Critic,1,$4.88,$4.88
89,"Blazefury, Protector of Delusions",1,$4.64,$4.64